@mixin flex-center($f-direction, $j-content, $a-items) {
    display: flex;
    justify-content: $j-content;
    flex-direction: $f-direction;
    align-items: $a-items;
}

.App {
    text-align: left;
    display: flex;
    @include flex-center(column, center, center);
    color: black;
    font-family: 'Lucida Sans' sans serif;
}

.body-menu {
    bottom: 10px;
    left: 0px;
    width: 100vw;
    height: 30vh;
    margin-top: 3em;
    background: rgb(145, 214, 235);
}
